extends layout

block content
  #blog-post.header
    .wrap
      h1= file.title
      .content!= file.summary
  #blog-post.left-sidebar
    .wrap About the author
  #blog-post.primary
    .wrap
      .content!= file.prepared
  #blog-post.right-sidebar
    .wrap Social
    script
      paradox.socialTrack('developmentseed.org/blog/2011/10/12/mapping-google-doc-spreadsheet/');