!!!5
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1.0, initial-scale=1.0')
    - var sitetitle = (site && site.title) ? site.title + ' - ' + file.title : file.title
    title= sitetitle
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(src='/public/js/main.js')
    link(rel='stylesheet', href='/public/css/main.css', type='text/css', media='all')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26279411-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    .page-wrap
      nav#primary
        .decor
        .bg
          .wrap
            h1#site-title: a(href='/')= site.title
            ul.menu
              - if (files.menu)
                for menu in files.menu
                  li.tab: a(href=menu.link)= menu.title
      section#content
        .decor
        .wrap
          block content
            .content!= file.prepared
      footer#primary
        .decor
        .wrap
          block footer
          .branding
            .brand It's a Logical Paradox