!!!5
html(lang='en')
  head
    - var sitetitle = (site && site.title) ? site.title + ' - ' + file.title : file.title
    title= sitetitle
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(src='/public/js/main.js')
    link(rel='stylesheet', href='/public/css/main.css', type='text/css', media='all')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26183904-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    nav#primary
      h1#site-title: a(href='/')= site.title
      ul.menu
        - if (files.menu)
          for menu in files.menu
            li.tab: a(href=menu.link)= menu.title
    header#content
      block header
    section#content
      block content
        .wrap!= file.prepared
    footer#primary
      block footer
        .branding Built by 
          a.button.branding(href='http://logicalparadox.github.com/codex') Codex
    