#blog-index.header
  clearfix()
  min-height 200px

#blog-index.primary
  section.category
    clearfix()
    overflow visible !important
    > .wrap
      border-top 1px solid lighten(color1, 70%)
      display block !important
      > article.summary
        clearfix()
        padding 15px 0px
        float left
        border-right 1px solid lighten(color1, 70%)
        margin-right -1px
        min-height 200px
        > .wrap
          > .thumbnail
            box-shadow inset 0px 0px 2px color3
            height 60px
            margin-bottom 15px