@import 'nib'
@import 'fez'

global-reset()

fez-reset()

black = #373936
white = darken(#fff, 2%)

color1 = #8FC8D6 // background
color2 = #F33825 // links
color3 = #3570AA // menu links
color4 = #DA5F3E // dark accent
color5 = #F1EBD5 // light accent

columnWidth = 50px
gutterWidth = 15px

body
  font 14px/21px  "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color color1
  color black

h1, h2, h3, h4, h5
  font-family "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif
  font-weight normal

a
  color color2
  text-decoration none

.page-wrap
  nav#primary
  header#content, 
  section#content, 
  footer#primary
    row(12)
    margin-top 50px

  nav#primary
    margin-top 0px

header
  margin-top 50px

nav#primary
  clearfix()
  background-color white
  border-radius bottom 10px
  line-height 54px
  overflow hidden
  box-shadow 0px 0px 5px rgba(0,0,0,0.2)
  
  h1#site-title
    margin 0px 15px
    font-size 28px
    line-height 54px
    float left
    a
      color black
  ul.menu
    list-style none
    float right
    li.tab
      margin-left 0px
      float left
      border-left 1px solid lighten(black, 75%)
      a
        display inline-block
        padding 0 30px
        &:hover
          background-color lighten(color1, 70%)

section#content
  margin-top 50px
  margin-bottom 50px
  min-height 350px
  background-color white
  box-shadow 0px 0px 5px rgba(0,0,0,0.2)
  background-color lighten(color1, 70%)
  border-radius 10px
  overflow hidden
  > .primary
    clearfix()
    float left
    background-color white
    box-shadow inset -1px -1px 0px #fff, 1px 1px 3px lighten(color1, 30%)
    .wrapper
      grid(8)
      margin-top 15px
      margin-bottom 15px
      overflow visible
      .masthead
        rowInside()
        margin-bottom 15px
        article
          grid(4)
          .thumbnail
            box-shadow inset 0px 0px 2px color3
            height 150px
            margin-bottom 15px
      #recent-posts.widget
        rowInside()
        margin-bottom 15px
        article
          clearfix()
          margin-top 30px
          margin-bottom 60px
          .thumbnail
            grid(2)
            box-shadow inset 0px 0px 2px color3
            height 75px
            margin-bottom 15px
          .meta
            grid(6)
          
  > .sidebar
    clearfix()
    float left
    box-shadow inset 
    .wrapper
      grid(4)

.widget#code
  clearfix()
  height 200px
  position relative
  .controls
    display none
    .arrow-prev
      background-color white
      width 20px
      height 40px
      position absolute
      top 80px
      left -20px
      overflow hidden
      cursor pointer
    .arrow-next
      background-color white
      width 20px
      height 40px
      position absolute
      top 80px
      right -20px
      overflow hidden
      cursor pointer
    .position
      position absolute
      top 0px
      white-space nowrap
      height 25px
      overflow hidden
      border-left 1px lighten(black, 75%) solid
      border-right 1px lighten(black, 75%) solid
      border-bottom 1px lighten(black, 75%) solid
      border-radius bottom 5px
      .pos
        display table-cell
        .p
          width 25px
          height 25px
  .message
    background-color white
    border-radius top left 10px
    clearfix()
    float left
    height 200px
    .wrap
      grid(3)
      height 170px
      margin-top 15px
      margin-bottom 15px
  .animate
    > .panels
        height 200px
        background-color lighten(color1, 70%)
        border-radius top 10px
        .block
          float left
          overflow hidden
          .wrap
            grid(3)
            height 170px
            margin-top 15px
            margin-bottom 15px

.widget-hidden
  display none


footer
  margin-top 50px
  margin-bottom 50px
  
  .branding
    a.branding
      button-shiny(#cc3300, #fff)