@import 'nib'
@import 'fez'

global-reset()

fez()

body
  font 13px/1.4 "helvetica neue", helvetica, arial, sans-serif
a
  color #4183c4
  text-decoration none

header, section#content, footer
  width 740px
  margin-left 220px

header
  margin-top 50px

section#content
  margin-top 50px
  margin-bottom 50px
  min-height 350px

nav
  position fixed
  top 65px
  left 50px
  width 120px
  
  ul
    list-style none
    li
      margin-left 0px
      a
        &:hover
          text-decoration underline

#code
  margin-bottom 50px
  li
    clearfix()
    width 50%
    border-top 1px solid darken(#fff, 15%)
    padding-top 10px
    margin-bottom 25px

    h3
      clearfix()
      .version
        display inline-block
        color darken(#fff, 35%)
        font-size 11px
    .repo
      clearfix()
      float left
      margin-right 10px
      a
        button-shiny()
    .docs
      clearfix()
      float left
      margin-right 10px
      a
        button-shiny(#fff, #4183c4)


footer
  margin-top 50px
  margin-bottom 50px
  
  .branding
    a.branding
      button-shiny(#cc3300, #fff)