@import 'nib'
@import 'fez'
@import 'buttons'
global-reset()

fez-reset()

black = #373936
white = darken(#fff, 2%)

color1 = #e5eae7 // background
color2 = #E64E1C // links
color3 = #AB4C16 // menu links
color4 = #7bb956 // light accent
color5 = #212622 // dark accent



body
  font 12px/21px  "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color color1
  color black

h1, h2, h3, h4, h5
  font-family "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif
  font-weight normal

a
  color color4
  text-decoration none

@import 'layout'

.page-wrap
  section#content
    overflow visible
    position relative
    > .decor
      position absolute
      top -4px
      bottom -4px
      right -4px
      left -4px
      z-index 5
      opacity 0.7
      background-color color4
      border-radius 8px
    > .wrap
      position relative
      display block
      z-index 20
      overflow hidden



  > nav#primary
    margin-top 0px
    
  > header#content
    margin-top 50px
  
  > footer#primary
    .decor
      bottom 0px
      border-radius top 8px
      border-radius bottom 0px



nav#primary
  clearfix()
  line-height 54px
  overflow visible
  margin-bottom 50px !important
  position relative
  > .decor
    position absolute
    top 0px
    bottom -4px
    right 0px
    left 0px
    z-index 5
    opacity 0.7
    background-color color4
  > .bg
    background linear-gradient(top, lighten(color5, 15%), color5)
    position relative
    z-index 15
    box-shadow 0px 0px 3px color5
    > .wrap
      clearfix()
  
  h1#site-title
    margin 0px 15px
    font-size 28px
    line-height 54px
    float left
    a
      color white
      &:hover
        color color4
  ul.menu
    list-style none
    float right
    li.tab
      margin-left 0px
      float left
      border-right 1px darken(color5, 15%) solid
      box-shadow inset -1px 0px 0px lighten(color5, 15%)
      &:first-child
        border-left 1px darken(color5, 15%) solid
        box-shadow inset 1px 0px 0px lighten(color5, 15%), inset -1px 0px 0px lighten(color5, 15%)
      a
        display block
        float left
        padding 0px 30px
        font-size 16px
        color white
        text-shadow -1px -1px 0px darken(color5, 15%)
        &:hover
          background linear-gradient(top, lighten(color5, 20%), lighten(color5, 5%))

section#content > .wrap
  margin-top 50px !important
  margin-bottom 50px !important
  min-height 350px
  background-color white
  box-shadow 0px 0px 5px rgba(0,0,0,0.2)
  border-radius 5px
  overflow hidden
  > .masthead
    clearfix()
  > .primary
    clearfix()
    float left
    min-height 450px
    > .wrap
      margin-top 15px
      margin-bottom 15px
      overflow visible
  > .sidebar
    clearfix()
    float left
    margin-top 15px
    margin-bottom 15px
    > .wrap
      overflow visible
  > .footer
    float left
    padding-top 15px

#index.masthead
  section#index-articles
    article.summary
      clearfix()
      float left
      border-right 1px dotted darken(color1, 15%)
      margin-right -1px
      > .wrap
        padding-top 15px
        padding-bottom 15px
        .thumbnail
          box-shadow inset 0px 0px 2px color3
          height 150px
          margin-bottom 15px
          
        .action
          margin-top 10px
          .more
            button-alp-large()

#index.banner
  clearfix()
  background linear-gradient(top, lighten(color1, 40%), color1)
  box-shadow inset 1px 1px 0px lighten(color1, 90%)
  padding-top 15px
  padding-bottom 15px
  border-top darken(color1, 15%) 1px solid
  border-bottom darken(color1, 15%) 1px solid
  > .wrap
    background linear-gradient(top, lighten(color4, 20%), color4)
    box-shadow 1px 1px 0px white, -1px -1px 0px darken(color4, 25%)
    border-radius 5px
    text-shadow 1px 1px 0px lighten(color4, 60%)
    #for-hire.widget
      padding 0px 15px
      margin-top 15px

#index.primary
  border-right 1px solid darken(color1, 15%)
  margin-right -1px
  > .wrap
    overflow visible !important
    
    section#social
      background linear-gradient(top, lighten(color1, 40%), color1)
      border-bottom 1px solid darken(color1, 15%)
      > .widget
        float left
        padding-top 15px
        padding-bottom 15px
        min-height 150px
      #twitter
        position relative
        border-right 1px solid darken(color1, 15%)
        margin-right -1px
        box-shadow inset 1px 1px 0px lighten(color1, 90%)
        z-index 30
        .follow a
          button-shiny-alp(#fff, black, #2ca3db, #fff)
          position absolute
          bottom 15px
          right 15px
      #github
        position relative
        box-shadow inset 2px 1px 0px lighten(color1, 90%)
        z-index 25
        .follow a
          button-shiny-alp()
          position absolute
          bottom 15px
          right 15px

    
    section#recent-articles
      padding-top 10px
      article.summary
        border-bottom 1px dotted darken(color1, 15%)
        margin-bottom 15px
        padding-bottom 15px
        
        .thumbnail
          box-shadow inset 0px 0px 2px color3
          height 70px
          margin-bottom 15px
          
        .action
          margin-top 10px
          .more
            button-shiny()
    
    section#actions
      margin-bottom 15px
      .more
        button-alp-large()
        width 200px

#index.sidebar > .wrap
  overflow visible !important
  .widget
    margin-bottom 15px
  .widget#products
    clearfix()
    section.product
      position relative
      margin-bottom 15px
      .meta
        clearfix()
        h3.title
          margin-bottom 0px
          font-size 14px
          line-height 21px
          .version
            display inline-block
            color black
            font-size 11px
            padding 0px 5px
        .summary
          font-size 12px
      &.view-all > .wrap
        clearfix()
        .meta
          float left
          h2.title
            margin-bottom 0px
            line-height 26px
        .more
          button-alp-small()
          float right
    
footer#primary > .wrap
  box-shadow 0px 0px 5px rgba(0,0,0,0.2)
  background-color lighten(color1, 70%)
  border-radius top 5px
  .branding
    background-color color4
    position relative
    z-index 40
  
@import 'code'
@import 'blog'